* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 55px;
}

html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
}

.container {
  display: flex;
}

.container div[id] {
  padding: 10px;
}

input {
  width: 100px;
  border-radius: 15px;
  height: 55px;
  margin-top: 15px;
  background: cyan;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  outline: none;
  border: 2px solid darkblue;
}

button {
  width: 100px;
  height: 55px;
  font-size: 30px;
  border-radius: 15px;
  color: blue;
  background: cyan;
  border: 2px solid darkblue;
}


